*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main{
    width:100%;
    background: url(IMG-20240730-WA0001.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position:relative;
    font-family:sans-serif;

}
.navbar{
    width: 86%;
    display: flex;
    margin:auto;
    padding:15px 0;
    align-items: center;
    justify-content:space-between;
}

.navbar .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3x;
    margin-left: -2x;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16 px;
}
.navbar a{
    text-decoration: none;
}
ul li a{
     font-size:16px;
     font-weight:bold;
     text-decoration: none;
     color:darkslategrey;
     margin-top: -3x;
}
ul li a:hover{
    color:rgb(231, 129, 11);
}
.info{
    margin-left: 7%;
    margin: top 6%;
}
     
.info h1{
    font-size:65px;
    color:rgb(36, 32, 30)
}
.info h3{
    font-size: 18px;
    letter-spacing:1px;
    line-height:24px;
}

.info span{
    color: rgb(231, 129, 11)
} 
.info a{
    text-decoration: none;
    color:aliceblue;
    background:rgb(36, 32, 30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}
.info a:hover{
    background:rgb(59,174,200);
}
.image{
      width: 20%;
      height: 40%;
      position: absolute;
      right: 80px;
      bottom: 0;
}
.fa-facebook
{
    font-size: 50px;
    color:rgb(8, 68, 137);
}
.fa-instagram
{
    font-size: 50px;
    color:rgb(155, 10, 99);
}
.fa-linkedin
{
    font-size: 50px;
    color:blue;
}
.fa-square-github
{
    font-size: 50px;
    color:black;
}





